body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* wireframe */
/* * {
    border: 1px solid red !important;
} */

/* styles */

* {
    box-sizing: border-box;
}

input {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

html {
    width: 100vw;
    height: 100vh;
}

.body {
    width: 100vw;
    min-width: fit-content;
    height: 100vh;
    overflow: scroll;
    position: relative;
    font-family: sans-serif;
}

.body::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 70px;
    width: 100vw;
    min-width: fit-content;
    background-color: blue;
    position: absolute;
    color: white;
    z-index: 2;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 95%;
    min-width: fit-content;
    min-height: fit-content;
}

.menu-line {
    width: 20px;
    border-bottom: 2px solid white;
    margin: 5px;
}

.navlink.menu { 
    padding: 5px;
    border-radius: 3px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navlink.cart {
    padding: 7px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    font-weight: 900;
    fill: white;
}

.navlink.menu:hover, .navlink.cart:hover,
.navlink.selected {
    background-color: rgb(0, 119, 255);
}

.navlink.home {
    font-weight: 900;
    font-size: 40px;
}

.navlink:hover {
    cursor: pointer;
}

.page {
    height: 100vh;
    padding-top: 70px;
    overflow: scroll;
}

.page::-webkit-scrollbar {
    display: none;
}

.profile-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo.photo-container {
    width: 100px;
    height: 100px;
    min-width: 100px;
    position: relative;
    margin: 10px;
    margin-right: 30px;
    margin-left: 30px;
}

.profile-header {
    display: flex;
    align-items: center;
}

.profile-header-info {
    color: dimgrey;
}

.photo-container {
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-photo-file-input {
    display: none;
}

.profile-photo.photo-container:hover .change-photo {
    display: block;
}

.change-photo {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: black;
    opacity: 0.7;
    color: white;
    text-align: center;
    padding-top: 15px;
}

.change-photo:hover {
    cursor: pointer;
    opacity: 0.8;
}

.profile-tabs {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 10px;
}

.profile-tab {
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    border-bottom: 5px solid white;
}

.profile-tab:hover {
    cursor: pointer;
    border-bottom: 5px solid grey;
    padding-top: -5px;
}

.profile-tab.selected {
    border-bottom: 5px solid blue;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    overflow: scroll;
    padding-bottom: 100px;
}

.user-info-message {
    color: grey;
}

.user-info-item {
    color: blue;
}

.user-info-item.name {
    font-size: 40px;
    font-weight: 100;
}

.user-info * {
    margin: 5px;
}

.edit-user-info {
    font-size: 27px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid black;
}

.edit-user-info:hover {
    cursor: pointer;
}

.edit-user-info:hover{
    background-color: white;
    color: blue;
    border-color: blue;
}


.user-info-input {
    width: 100%;
}

.save-user-info {
    border: 1px solid black;
    border-radius: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

.save-user-info:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blue;
    padding: 20px;
    padding-top: 40px;
}

.menu-container * {
    margin: 15px;
}

.menu-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.cart-container {
    padding: 20px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-container * {
    margin: 5px;
}

.cart-message {
    color: grey;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    font-size: 20px;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 10px 10px -10px black;
}

.cart-items {
    height: 90vh;
    padding-top: 255px;
    margin-top: -250px;
    padding-bottom: 100px;
    border-bottom: 1px solid grey;
    overflow-y: scroll;
}

.cart-items::-webkit-scrollbar {
    display: none;
}

.cart-item-relative {
    position: relative;
}

.remove-cart-item {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: blue;
}

.cart-counter {
    position: absolute;
    top: 0px;
    left: 5px;
    height: 17px;
    width: 17px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    opacity: 0.5;
    color: white;
}

.remove-cart-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cart-item {
    display: flex;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px black;
    padding: 5px;
    margin-top: 10px;
}

.cart-item .photo-container {
    min-width: 60px;
    width: 60px;
    height: 60px;
}

.qty {
    display: flex;
    align-items: center;
}

.qty-up {
    margin-bottom: -5px;
    transform: rotate(180deg);
    font-size: 20px;
    width: 15px;
    text-align: center;
}

.qty-down {
    font-size: 20px;
    width: 15px;
    text-align: center;
}

.qty-up:hover, .qty-down:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.qty input {
    width: 50px;
}

.investments-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 100px;
}

.investments-graph-container {
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.investments-graph-container button, .canvasjs-chart-toolbar {
    display: none;
}

.investments-feed-container {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: dimgrey;
}

.investments-feed-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.investments-feed-container * {
    padding: 2px;
}

.investment-feed-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.investment-feed-item {
    width: 100%;
    margin-top: 5px;
    font-size: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.purchases-container {
    width: 100%;
}

.purchases-container .cart-item:hover {
    cursor: pointer;
    background-color: rgb(172, 172, 172);
}

.purchases-container * {
    margin: 5px;
}

.purchase-item {
    margin-top: 10px;
    position: relative;
}

.view-order {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
    color: white;
    text-shadow: 0px 0px 5px black;
    font-weight: bolder;
}

.purchase-item:hover .view-order {
    display: block;
}

.checkout {
    border: 1px solid black;
    border-radius: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

.checkout:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

.even {
    background-color: rgb(255, 232, 235);
}

.hover-avi {
    width: 30px !important;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 100%;
    overflow: hidden !important;
}



.leaderboard {
    margin: 20px
}